[submodule "ARK2D/src/ARK2D/vendor/submodules/libpng15"]
	path = ARK2D/src/ARK2D/vendor/submodules/libpng15
	url = https://github.com/glennrp/libpng.git
	branch = libpng15
[submodule "ARK2D/src/ARK2D/vendor/submodules/openssl-android"]
	path = ARK2D/src/ARK2D/vendor/submodules/openssl-android
	url = https://github.com/guardianproject/openssl-android
