[submodule "ARK2D/src/ARK2D/vendor/submodules/libpng15"]
	path = ARK2D/src/ARK2D/vendor/submodules/libpng15
	url = https://github.com/glennrp/libpng.git
	branch = libpng15
[submodule "ARK2D/src/ARK2D/vendor/submodules/openssl-android"]
	path = ARK2D/src/ARK2D/vendor/submodules/openssl-android
	url = https://github.com/guardianproject/openssl-android
[submodule "Tools/Image Packer"]
	path = Tools/Image Packer
	url = git@github.com:ashleygwinnell/ark2d-imagepacker.git
[submodule "Tools/Image Resizer"]
	path = Tools/Image Resizer
	url = git@github.com:ashleygwinnell/ark2d-imageresizer.git
[submodule "ARK2D/src/ARK2D/Core/Vendor/glm"]
	path = ARK2D/src/ARK2D/Core/Vendor/glm
	url = https://github.com/g-truc/glm
